/* Reset styles */
html, body {
	margin: 0;
	padding: 0;
	font-family: Menlo, monospace; 
	font-size: 16px;
	line-height: 1.5;
	color: #060606;
	background-color: #f5eee1; /* Set the background color to light beige */
}

/* Header styles */
header {
	padding: 20px 20px 0px 20px;
}

h1 {
	margin: 0;
	font-size: 48px;
	line-height: 1.2;
	color: #f5eee1;
	background-color: #080707; /* set banner color */
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block; /* set navigation menu style */
	margin-right: 20px;
}

nav a {
	display: block;
	color: #0b0b0a;
	text-decoration: none;
	padding: 10px;
	transition: background-color 0.3s ease;
}

nav a:hover {
	background-color: #b7b6b6;
}

/* Main styles */
main {
	padding: 0px 20px 20px 20px;
}

h2 {
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 10px;
}

p {
	margin-bottom: 20px;
}

ul {
	margin-left: 20px;
}

li {
	margin-bottom: 10px;
}

img {
	max-width: 90%;
	height: auto;
  }
/* Image Grid Styles */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -10px; /* Add some negative margin to create spacing between grid items */
}

.grid-item {
    flex: 0 0 calc(33.33% - 20px); /* Three images per row with some margin */
    margin: 10px;
    overflow: hidden; /* Ensure images don't overflow the grid items */
}

/* Adjust the styling for grid images as needed */
.grid-item img {
    max-width: 100%;
    height: auto;
    display: block;
}
